*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: aqua;
}
header img{
    width: 200px;
    border-radius: 50%;
}
header div{
    padding-left: 75px;
}
.info-perfil{
    display: flex;
    background-color: red;
    justify-content: space-between;
}
section p{
    font-size: 32px;
    padding: 10px;
}
header section ul{
    list-style: none;
    font-size: 20px;
}